* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}


/* Note: xd is for XebaDevs + the element/s */

.xd-box {
    height: 350px;
    overflow: auto;
}

/* ---------------------- Icons size ---------------------- */
.image .xd-icons {
    width: 20px;
    height: 20px;
}

.image .xd-crypto {
    width: 24px;
    height: 24px;
}


/* ---------------------- Borders ---------------------- */
.xd-bborder {
    border-bottom: 1px solid rgba(0, 209, 178, 0.49);
}


/* ---------------------- Shadows ---------------------- */
.xd-shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.xd-shadowtop {
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
}

.xd-lightshadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.xd-bshadow {
    box-shadow: 0 0 0 0;
}

/* ---------------------- Footer ---------------------- */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
}

.xxx {
    border: 1px solid black;
}


/* ---------------------- MediaQueries ---------------------- */

@media screen and (min-width: 1500px) and (orientation: landscape){
    .xd-bshadow {
        box-shadow: 0 28px 45px -45px rgba(0, 0, 0, .5);
    }
}