body {
    background-color: #EDEDED;
}

.xxx {
    border: 1px solid black;
}

.image .xd-icons {
    width: 20px;
    height: 20px;
}

.zzz {
    margin-top: 5px;;
}

.yyy {
    height: 100%;
}

.xd-border {
    border: 1px solid #00D1B2;
}

.xd-bborder {
    border-bottom: 1px solid #00D1B2;
}